@import url("../subpage.css");
@import url("../../components/progress-components.css");



:root {
	--columns: 9;
}



body {
	display: flex;
	/* flex-direction: row-reverse; */
	justify-content: space-between;

	gap: max(3.5vw, 3.5vh);
}


.current-player__container {
	width: fit-content;

	align-self: flex-start;
	gap: 2rem;
}

.player__container {
	width: 100%;

	padding: 0.65rem 1.5rem;

	/* position: relative; */

	gap: 0.5rem;

	border-radius: 15px;

	color: var(--white);
	background-color: var(--dark-background);

	transition: color var(--animation-speed), background-color var(--animation-speed), border-radius ease-out var(--animation-speed);
}

.player__container > span {
	font-size: 2rem;
}

.player__container > p {
	font-size: 0.85rem;
}

/* .player__container > button-label {
	position: absolute;
	top: calc(-1 * (0.45rem + 0.85rem) / 2); left: 50%;
} */

.player__container.active {
	border-radius: 30px; /* calc(0.65rem + 2rem) */
    transition: color var(--animation-speed), background-color var(--animation-speed), border-radius ease-out var(--animation-speed);
}


.active {
	color: var(--red);
    background-color: var(--red-background);
}


.action__container {
	align-self: flex-end;
	align-items: flex-end;
}



.board {
	aspect-ratio: 1 / 1;
	height: 100%;
	/* max-width: 100%; */

	padding: min(3.5vw, 3.5vh); /* 1.5rem; */

	grid-area: board;

	display: flex;
	flex-flow: row;
	flex-wrap: wrap;

	border: 2px solid rgba(42, 46, 57, 1);
  	border-radius: 1vh;
}

.cell {
	height: auto;
	width: auto;
	
	flex: 1 0 calc(100% / var(--columns));
  	display: flex;
  	justify-content: center;
  	align-items: center;
  
 	border: 1.25px solid rgba(42, 46, 57, 0.5);

	cursor: pointer;

	transition: var(--animation-speed);
}

.piece {
    width: 80%;
	height: 80%;
    border-radius: 100%;

	cursor: not-allowed;
}

.black-piece {
  background-color: rgba(42, 46, 57, 1);
}

.white-piece {
  background-color: rgba(254, 253, 248, 1);
}


/*=== Animations ===*/

.cell:empty:hover {
	background-color: var(--faded-background);
}



/*=== Breakpoints ===*/

@media only screen and (max-width: 900px) {
    body {
		flex-direction: column;
		align-items: center;
    }

	.current-player__container,
	.player__container,
	.action__container {
		aspect-ratio: unset;

		align-self: unset;
		flex-direction: row;
	}

	.player__container {
		padding: 0.65rem;
	}

	.player__container > span {
		font-size: 1.5rem;
	}

	.action__container {
		align-items: center;
	}
}