@import url("../subpage.css");
@import url("../../components/select-component.css");


html {
    height: 100%;
}

body {
    height: 100% !important;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}


h1 {
    opacity: 0.06;

    font-size: 17.5vmin;
}

/* 
.center__container > * {
    margin: max(1.5vh, 1.5vw);
} */

div.center__container {
    width: 100%;
    max-width: 750px;

    flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    flex-flow: row wrap;
}

div.center__container > div {
    margin: max(1.75vh, 1.75vw) max(2vh, 2vw);

    min-width: 250px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-grow: 2;
}

  
.watermark__container {
    width: fit-content;
    height: -webkit-fill-available;
    max-height: 17.5vmin;

    margin-left: auto;
    
    display: inline;
}
  
.watermark__container:first-child {
    margin-left: unset;
    margin-right: auto;
}

@media only screen and (max-height: 465px) {
    body {
        justify-content: center;
    }

    section.hide__small {
		display: none;
	}
}