@import url("../style.css");
@import url("../../components/select-component.css");


html {
    height: 100%;
}

body {
    height: 100% !important;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.center__container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.center__container > * {
    margin: max(1.5vh, 1.5vw);
}

.top__container {
    width: 100%;
    max-width: 750px;

    flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.input__container {
    margin: max(1.75vh, 1.75vw) max(2vh, 2vw);

    min-width: 250px;

    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input__container > .piece__icon {
    margin-right: 1rem;
}

.input__container .select {
    width: 100%;
}
  
.bottom__container {
    flex: 100%;
    display: flex;
    justify-content: center;
}



.watermark__text {
    opacity: 0.06;
}

  
.watermark__container {
    width: 100%;
    
    display: flex;
}
  
.watermark__container.left-align__container {
    justify-content: flex-start;
    align-items: flex-start;
}
  
.watermark__container.right-align__container {
    justify-content: flex-end;
    align-items: flex-end;
}