@import url("../modal.css");



.information__container {
    flex-direction: column;
}

.information__container > div > div {
    margin-left: calc(1rem + max(5vh, 5vw));

    display: flex;
    flex-direction: row;
    align-items: center;
}