@import url("../modal.css");
@import url("../../components/switch-component.css");



button {
    width: fit-content;
}



body {
    align-items: flex-end;
}

main {
    width: 100%;
    height: fit-content;

    justify-content: flex-start;
    gap: 1.5rem;
    
    border: none;
}

/* TODO: Make dynamic: `a:has(> img)`. */
.information__container:nth-child(4) {
    flex-direction: column;
}


.description__container {
    margin-left: calc((1rem + max(5vh, 5vw)) * 2);

    font-size: var(--size-300);
    opacity: 0.75;
}