@import url("../modal.css");
@import url("../../components/switch-component.css");


.information__container {
    flex-direction: row;
    gap: 2rem;
}

.center__container {
    align-items: flex-start;
    gap: 0.25rem;
}

.description__text {
    font-size: var(--size-300);
    opacity: 0.75;
}

#install-container {
    display: none;
}