@import url("../variables.css");

.select {
    position: relative;
    width: 250px;
    background: none;
    padding: 0.2rem 0.5rem;

    transition: border-radius ease-out var(--animation-speed);
}

.select__background {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    background-color: var(--faded-background);
    border-radius: calc(0.75rem + 0.75rem);

    transition: border-radius ease-out var(--animation-speed);
}
  
.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 0;
    font-size: 0.85rem;
    border: none;
    left: 7.5px;
    z-index: 10;
}
  
/* Remove focus */
.select-text:focus {
    outline: none;
}
  
/* Use custom arrow */
.select .select-text {
    appearance: none;
    -webkit-appearance:none
}
  
.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
      
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}
  
  
/* LABEL ======================================= */
.select-label {
    color: rgba(0,0,0, 0.26);
    font-size: 0.75rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;

    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);

    left: 1rem;
    top: 50%;

    transition: all ease var(--animation-speed);
}
  
/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
    color: var(--red);
    top: calc(-1 * (0.2rem + 5px));
    font-size: 0.55rem;
}

.select-text:focus ~ .select__background { /* , .select-text:valid ~ .select__background */
    border-radius: 8px;
}