/* https://codepen.io/finnhvman/pen/pOeyjE */

@import url("../variables.css");

.switch__component {
    z-index: 0;
    position: relative;

    aspect-ratio: 36 / 19;
    height: 1.5rem;
}

.switch__component > div {
    height: 100%;
    width: 100%;

    margin: auto;
    padding: 5px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-radius: 22.5px;
    background-color: var(--inactive-background);

    cursor: pointer;

    transition: background-color var(--animation-speed);
}
    

/* Input */
.switch__component > input {
    z-index: -1;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Thumb */
.switch__component span {
    aspect-ratio: 1 / 1;
    height: 75%;
    
    border-radius: 50%;
    background-color: var(--inactive);

    transition: background-color var(--animation-speed), aspect-ratio var(--fade-in) 0.35s, height var(--animation-speed);
}



div:hover > span {
    height: 100%;
}

div:active > span {
    aspect-ratio: 1.5 / 1;
}

.switch__component > input:checked ~ div {
    justify-content: flex-end;

    background-color: var(--red-background);
}

.switch__component > input:checked ~ div > span {
    background-color: var(--red);
}

.switch__component > input:disabled ~ div {
    opacity: 0.45;

    cursor: not-allowed;
    pointer-events: none;
}
