@import url("../style.css");



body {
    margin: 0;
    padding: 1rem;
    
    height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-areas:
    'whitespace header'
    'nav main';

    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;

    gap: 1rem;
    
    background-color: var(--background);
  }

body.overlay {
    background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    );

    -webkit-transition: background .5s;
    transition: background .5s;
}

whitespace {
    grid-area: whitespace;
}

header {
    width: 100%;

    grid-area: header;
}

nav {
    grid-area: nav;
}

nav > * {
    margin: calc(var(--spacing) / 2) 0;
}

main {
    grid-area: main;
}



iframe {
    height: 100%;
    width: 100%;
}



/*=== Breakpoints ===*/

@media only screen and (max-width: 600px) {
    body {
        grid-template-areas:
        'header'
        'main'
        'nav';
        grid-template-columns: 1fr;
    }

    whitespace {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    modal {
        width: 100vw;
        height: 100vh;
    }

    modal iframe {
        height: 100%;

         border-radius: 0;
    }
}