@import url("../style.css");



body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 1rem;
    
    display: grid;
    grid-template-areas:
    'whitespace header'
    'nav main';

    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;

    gap: 1rem;
    
    background-color: var(--background);
}


  
modal {
    z-index: -1;

    width: 95%;
    max-width: 750px;

    height: fit-content;

    padding: 1.5rem;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -35%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    opacity: 0;
    background-color: var(--background);

    border-radius: 20px;

    -webkit-transition: transform .2s var(--fade-out), opacity .2s var(--fade-out), z-index .2s var(--fade-out);
    transition: transform .2s var(--fade-out), opacity .2s var(--fade-out), z-index .2s var(--fade-out);
}

modal ~ .overlay__container {
    width: 100%;
    height: 100%;

    margin: auto;

    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    display: none;

    background: transparent;

    cursor: pointer;

    -webkit-transition: background .5s;
    transition: background .5s;
}

modal.visible {
    z-index: 2;

    transform: translate(-50%, -50%) !important;

    opacity: 1;

    -webkit-transition: transform .75s var(--fade-in), opacity .75s var(--fade-in), z-index .75s var(--fade-in);
    transition: transform .75s var(--fade-in), opacity .75s var(--fade-in), z-index .75s var(--fade-in);
} 

modal.visible ~ .overlay__container {
    display: block;

    background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    );

    -webkit-transition: background .5s;
    transition: background .5s;
}

modal iframe {
    height: 100%;

    padding: 1.5rem;

    border: 2px solid var(--light-black);
    border-radius: 17.5px;
}

modal header {
    display: flex;
    justify-content: space-between;
}



whitespace {
    grid-area: whitespace;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

nav > * {
    margin: calc(var(--spacing) / 2) 0;
}

main {
    grid-area: main;
}

main > iframe {
    scale: 0.95;

    opacity: 0;

    transition: opacity 0.35s, scale 0.35s ease;
}

main > iframe.loaded {
    scale: 1;

    opacity: 1;

    transition: opacity 0.35s, scale 0.35s ease;
}



iframe {
    height: 100%;
    width: 100%;
}


/*=== Breakpoints ===*/

@media only screen and (max-width: 600px) {
    body {
        grid-template-areas:
        'header'
        'main'
        'nav';
        grid-template-columns: 1fr;
    }

    whitespace {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    modal {
        width: 100vw;
        height: 100vh;

        border-radius: 0;
    }

    modal iframe {
        height: 100%;
    }
}


/*=== Animations ===*/

/* .overlay__container:hover {
    background: linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
      );;
} */