/* #region Imports */

@import url("subpage.css");

/* #endregion */

/* #region Text */

.description__text {
    font-size: var(--size-300);
}

/* #endregion */

/* #region Components */

body {
    padding: 0;
}

/* #endregion */

/* #region Flex */

.information__container > .center__container {
    gap: 0.5rem;
}

.information__container.row__container,
.information__container > .row__container {
    gap: max(5vh, 5vw);
}

/*
    Specifically for `Rules`-page.

    Assign styling if an `information__container`
    contains a `center__container` with a
    `row__container`-sibling.
*/
.information__container > .row__container ~ .center__container {
    margin-left: calc(1rem + max(5vh, 5vw));
}

.center__container {
    align-items: flex-start;
}

/* #endregion */

/* #region Breakpoints */

@media only screen and (max-width: 500px) {
    body {
        justify-content: flex-start;
    }
}

/* #endregion */
