@import url("subpage.css");

body,
.center__container {
    /* height: fit-content; */

    display: flex;
    flex-direction: column;
}

body,
.information__container.center__container {
    gap: 1.5em;
}


.center__container {
    gap: 1rem;
}

.row__container {
    gap: max(5vh, 5vw);
}



.information__container {
    width: 100%;

    justify-content: space-between;
}

.information__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information__container > div {
    width: 100%;

    justify-content: flex-start;
}


.information__container > div:not(:first-child) {
    flex-direction: column;
    align-items: flex-start;
}