:root {
    --background: #DBDBD9;
    --dark-background: #6E6E6E;
    --red-background: #DD243540;
    --faded-background: #6e6e6e40; /* TODO: Use `dark-background` as base. */
    --white: #FEFDF8;
    --black: #2A2E39;
    --red: #DD2436;


    --spacing: max(2.5vh, 2.5vw);


    --fade-in: cubic-bezier(0, 1, 0.35, 1);
    --fade-out: cubic-bezier(0.75, 0, 0.25, 1);



    --pure-material-primary-rgb: 221, 36, 54;
    --pure-material-onprimary-rgb: 164, 164, 163;
    --pure-material-surface-rgb: 164, 164, 163;
    --pure-material-onsurface-rgb: 0, 0, 0;
  }