:root {
    --background: #DBDBD9;
    --dark-background: #6E6E6E;
    --red-background: #DD243540;
    --faded-background: #6e6e6e40; /* TODO: Use `dark-background` as base. */
    --white: #FEFDF8;
    --black: #2A2E39;
    --red: #DD2436;



    --pure-material-primary-rgb: 221, 36, 54;
    --pure-material-onprimary-rgb: 255, 255, 255;
    --pure-material-surface-rgb: 255, 255, 255;
    --pure-material-onsurface-rgb: 0, 0, 0;
  }