@import url("./subpage.css");
@import url("./components/progress-components.css");



:root {
	--columns: 9;
}



body {
	display: grid;
    grid-template-areas:
    'board info'
    'board actions';
	grid-template-columns: max-content 1fr;
	align-items: start;
	gap: max(3.5vw, 3.5vh);
}



.information__container {
	padding-bottom: max(2.5vw, 2.5vh);

	display: flex;
	flex-direction: column;
	grid-area: info;
	gap: max(2.5vw, 2.5vh);

	border-bottom: 2px solid var(--light-black);
}

.information__container > div {
	justify-content: space-between;
	flex-wrap: wrap;
}

.time_container {
	flex: 0 0 calc(100% / 3);
}

.button_container {
	flex: 1 0 auto;
}


.action__container {
	height: -webkit-fill-available;

	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;

	grid-area: actions;
}


.board {
	aspect-ratio: 1 / 1;
	height: 100%;

	padding: min(3.5vw, 3.5vh);

	grid-area: board;

	display: flex;
	flex-flow: row;
	flex-wrap: wrap;

	border: 2px solid rgba(42, 46, 57, 1);
  	border-radius: 1vh;
}

.cell {
	height: auto;
	width: auto;
	
	flex: 1 0 calc(100% / var(--columns));
  	display: flex;
  	justify-content: center;
  	align-items: center;
  
 	border: 1.25px solid rgba(42, 46, 57, 0.5);

	cursor: pointer;
}

.piece {
    width: 80%;
	height: 80%;
    border-radius: 100%;

	cursor: not-allowed;
}

.black-piece {
  background-color: rgba(42, 46, 57, 1);
}

.white-piece {
  background-color: rgba(254, 253, 248, 1);
}


/*=== Animations ===*/

.cell:empty:hover {
	background-color: var(--faded-background);

	transition: var(--animation-speed);
}



/*=== Breakpoints ===*/

@media only screen and (max-width: 900px) {
    body {
		grid-template-areas:
		'info'
		'board'
		'actions';
		grid-template-columns: max-content;
		grid-template-rows: 1fr max-content 1fr;
		align-content: space-between;
		justify-content: center;
		overflow: hidden;
    }

	.action__container {
		justify-content: center;
	}
}