@import url("./home.css");


.square {
  height: 5px;
  width: 5px;

  border-radius: 1px;

  background-color: var(--dark-background);
}


main {
    justify-content: center;
}



header > *:last-child {
    justify-self: right;
}

#players-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

#players-container > * {
  margin-right: max(2.5vw, 2.5vh);
}

#players-container .row__container > * {
  margin-right: max(0.9vw, 0.9vh);
}

header .button-group__container {
    display: flex;
}

header .button-group__container > *:first-child {
  margin-right: max(0.75vw, 0.75vh);
}

.board {
	display: flex;
	flex-wrap: wrap;
	border: 2px solid rgba(42, 46, 57, 1);
  border-radius: 1vh;
  
	max-width: 600px;
	max-height: 600px;
	width: 90vw;
	height: 90vw;
  
  padding: min(3.5vw, 3.5vh);
}

.cell {
	width: calc(100% / 15);
	height: calc(100% / 15);
  
  border: 1.25px solid rgba(42, 46, 57, 0.5);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  width: 80%;
	height: 80%;
  border-radius: 100%;
}

.black-piece {
  background-color: rgba(42, 46, 57, 1);
}

.white-piece {
  background-color: rgba(254, 253, 248, 1);
}