@import url("./subpage.css");
@import url("./components/progress-components.css");



:root {
	--columns: 9;
}



body {
	display: flex;
}

body > *:first-child {
	margin-right: max(5vw, 5vh);
}

body > *:last-child {
	margin-left: max(5vw, 5vh);
}

section {
	width: -webkit-fill-available;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

section > div {
	width: 100%;
}

section hr {
    margin: 1rem 0;
}

section > div > div {
	width: 100%;
}

section > div > div:first-child {
	justify-content: space-between;
}

.time_container {
	width: calc(100% / 3);
}


.board {
	aspect-ratio: 1 / 1;
	height: 100%;
	max-width: 100%;

	padding: min(3.5vw, 3.5vh);

	display: flex;
	flex-flow: row;
	flex-wrap: wrap;

	border: 2px solid rgba(42, 46, 57, 1);
  	border-radius: 1vh;
}

.cell {
	height: auto;
	width: auto;
	
	flex: 1 0 calc(100% / var(--columns));
  	display: flex;
  	justify-content: center;
  	align-items: center;
  
 	border: 1.25px solid rgba(42, 46, 57, 0.5);

	cursor: pointer;
}

.piece {
    width: 80%;
	height: 80%;
    border-radius: 100%;

	cursor: not-allowed;
}

.black-piece {
  background-color: rgba(42, 46, 57, 1);
}

.white-piece {
  background-color: rgba(254, 253, 248, 1);
}


/*=== Animations ===*/

.cell:empty:hover {
	background-color: var(--faded-background);

	transition: var(--animation-speed);
}