@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;800&amp;display=swap");

@import url("./material.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

:root {
    --background: #DBDBD9;
    --faded-background: #6e6e6e40;
    --black: #2A2E39;
    --red: #DD2436;
  }
  
  * {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }

  /*


  select {
    width: 100%;
    padding: 15px;

    border: none;
    background: var(--faded-background);

    font-size: 1.75vmax;
    overflow: visible !important;

    position: relative;
}
*/

  
  h1 {
    /* margin: 0; */
    padding: 0;

    max-width: 90vw;
    
    font-family: "Spartan";
    font-size: min(17.5vh, 17.5vw);
    font-weight: 800;
    color: var(--black);
  }
  
  h3 {
    font-family: "Spartan";
    font-weight: 600;
    color: var(--black);
  }
  
  .watermark__text {
    opacity: 0.06;
  }
  
  
  
  .watermark__container {
    width: 100%;
    
    display: flex;
  }
  
  .watermark__container.left-align__container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .watermark__container.right-align__container {
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  
  
  body {
    margin: 0;
    padding: 0;
    
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    
    background-color: var(--background);
  }
  
  body > * {
    padding: 0 max(1vh, 1vw);
    
    width: 100vw;
  }
  
  header {
    flex: 0 1 auto;
    display: grid;
    align-items: center;
    
    border-bottom: 2px solid var(--black);
  }
  
  header > * {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
  }
  
  header > *:first-child {
    justify-self: left;
  }
  
  main {
    padding-top: max(1vh, 1vw);

    height: 100%;
    
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main .center__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .top__container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  main .input__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .input__container .mdl-textfield {
    width: -webkit-fill-available;
  }