@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;800&amp;display=swap");

@import url("https://res.cloudinary.com/finnhvman/raw/upload/matter/matter-0.2.2.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import url("./select-component.css");
@import url("./colors.css");
  
  * {
    font-family: "Spartan";

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }

  :root {
    --animation-speed: 0.15s;
  }

  /*


  select {
    width: 100%;
    padding: 15px;

    border: none;
    background: var(--faded-background);

    font-size: 1.75vmax;
    overflow: visible !important;

    position: relative;
}
*/

  
  h1 {
    margin: 0;
    padding: 0;

    max-width: 90vw;
    
    font-size: min(17.5vh, 17.5vw);
    font-weight: 800;
    color: var(--black);
  }
  
  h3 {
    font-weight: 600;
    color: var(--black);
  }

  p {
    font-weight: 500;
  }

  .icon,
  .material-icons-round {
    font-size: 1rem;
  }

  .piece__icon {
    font-size: 1.45rem;
  }

  .black__icon {
    color: var(--black);
  }

  .white__icon {
    color: var(--white);
  }
  


  .watermark__text {
    opacity: 0.06;
  }

  
  .watermark__container {
    width: 100%;
    
    display: flex;
  }
  
  .watermark__container.left-align__container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .watermark__container.right-align__container {
    justify-content: flex-end;
    align-items: flex-end;
  }


  button {
    padding: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    cursor: pointer;

    border-radius: 10px;

    color: var(--white);
    background-color: var(--dark-background);
  }

  button > *:first-child {
    padding-right: 0.65rem;
  }

  button:disabled,
  button[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
  }

  .red__button {
    color: var(--red);
    background-color: var(--red-background);

    transition: color var(--animation-speed), background-color var(--animation-speed);
  }

  .icon__button > *:first-child{
    padding: 0;
  }


  /* TODO: Change name of component */
  button-label {
    padding: 0.45rem;
    display: flex;
    justify-content: center;

    border-radius: 10px;

    color: var(--white);
    background-color: var(--dark-background);
  }

  button-label span {
    font-size: 0.85rem;
    font-weight: 600;
  }

  button-label > *:first-child {
    padding-right: 0.45rem;
  }


  .mdl-textfield {
    background-color: var(--faded-background);
  }


  .row__container {
    display: flex;
    align-items: center;
  }
  
  
  
  body {
    margin: 0;
    padding: 0;
    
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    
    background-color: var(--background);
  }
  
  body > * {
    padding: 0 max(1vh, 1vw);
    
    width: 100vw;
  }
  
  header {
    flex: 0 1 auto;
    display: grid !important;
    grid-template-rows: 7.5vh;
    align-items: center;
    
    border-bottom: 2px solid var(--black);
  }
  
  header > * {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: center;
  }
  
  header > *:first-child {
    justify-self: left;

    font-size: 1.45rem;
  }
  
  main {
    padding-top: max(1vh, 1vw);

    height: 100%;
    
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  main .center__container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  main .center__container > * {
    margin: max(1.5vh, 1.5vw);
  }

  main .top__container {
    width: 100%;
    max-width: 750px;

    flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  main .input__container {
    margin: max(1.75vh, 1.75vw) max(2vh, 2vw);

    min-width: 250px;

    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  main .input__container > .piece__icon {
    margin-right: 1rem;
  }

  main .input__container .select {
    width: 100%;
  }
  
  main .bottom__container {
    flex: 100%;
    display: flex;
    justify-content: center;
  }