.select {
      position: relative;
      width: 250px;
    background-color: #6e6e6e40;
      border-radius: 10px;
    padding: 2px;
  }
  
  .select-text {
      position: relative;
      font-family: inherit;
      background-color: transparent;
      width: 100%;
      padding: 0.75rem 0.75rem 0.75rem 0;
      font-size: 1.1rem;
      border: none;
      left: 7.5px;
  }
  
  /* Remove focus */
  .select-text:focus {
      outline: none;
  }
  
      /* Use custom arrow */
  .select .select-text {
      appearance: none;
      -webkit-appearance:none
  }
  
  .select:after {
      position: absolute;
      top: 18px;
      right: 10px;
      /* Styling the down arrow */
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0, 0, 0, 0.12);
      pointer-events: none;
  }
  
  
  /* LABEL ======================================= */
  .select-label {
      color: rgba(0,0,0, 0.26);
      font-size: 1.1rem;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 10px;
      top: 12.5px;
      transition: 0.2s ease all;
  }
  
  /* active state */
  .select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
      color: var(--red);
      left: 1px;
      top: -20px;
      transition: 0.2s ease all;
      font-size: 0.75rem;
  }
  
  /* active state */
  .select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
      width: 50%;
  }