/* #region Imports */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("./variables.css");

/* #endregion */

/* #region High-level */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Spartan";

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 1.5rem;
}

/* #endregion */

/* #region Text */

h1 {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: var(--black);
}

h2 {
    margin: 0;
    font-weight: 600;
    color: var(--black);
}

h3 {
    margin: 0;
    font-weight: 600;
    color: var(--black);
}

h6 {
    padding: 0;
    margin: 0;
    font-size: 0.65rem;
    font-weight: 500;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    color: var(--black);
}

p {
    margin: 0;
    font-weight: 500;
}

a {
    font-weight: 600;
    color: var(--blue);
}

a:visited {
    color: var(--inactive);
}

.description__text {
    font-size: var(--size-400);
    opacity: 0.75;
}

/* #endregion */

/* #region Icon */

.icon,
.material-icons-round {
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.piece__icon {
    font-size: 1.45rem;
}

.black__icon {
    color: var(--black);
}

.white__icon {
    color: var(--white);
}

/* #endregion */

/* #region Buttons */

button {
    height: fit-content;
    padding: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.65rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: calc(0.75rem + 0.65rem);
    font-size: 0.75rem;
    color: var(--white);
    background-color: var(--dark-background);
    transition: border-radius ease-out var(--animation-speed);
}

button:disabled,
button[disabled] {
    opacity: 0.5;
    /* cursor: not-allowed; TODO: Make sure cursor is set to `not-allowed`. */
    pointer-events: none;
}

button.full-width__container {
    justify-content: flex-start;
}

button > span:nth-child(2) {
    margin-top: 2px;
}

.menu__button,
.fab__button {
    border-radius: 15px;
}

.red__button {
    color: var(--red);
    background-color: var(--red-background);
    transition: border-radius ease-out var(--animation-speed);
}

.menu__button {
    width: 3.85rem;
    height: 3.85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    background: none;
    color: var(--black);
    font-size: 0.7rem;
    transition: background-color var(--animation-speed), border-radius ease-out var(--animation-speed);
}

.menu__button>span {
    width: 2.5rem;
    margin-bottom: 0.25rem;
    padding: 0.2rem;
    font-size: 1.15rem;
    background-color: none;
    border-radius: 100px;
    transition: width 0.35s ease-out, background-color 0.35s;
}

.menu__button.red__button>span {
    width: 3rem;
    color: var(--red);
    background-color: var(--red-background);
    transition: width 0.35s ease-out, background-color 0.35s;
}

.fab__button {
    width: fit-content;
    padding: 1.25rem;
    transition: border-radius ease-out var(--animation-speed);
}


/* TODO: Change name of component */

button-label {
    padding: 0.45rem;
    display: flex;
    justify-content: center;
    gap: 0.45rem;
    border-radius: calc(0.45rem + 0.85rem);
    color: var(--white);
    background-color: var(--light-black);
}

button-label span {
    font-size: 0.85rem;
    font-weight: 600;
}

/* #endregion */

/* #region Flex */

.full-width__container {
    width: 100%;
}

.row__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.center__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.grid__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.35rem;
}

/* #endregion */

/* #region Components */

header {
    width: 100%;
}

header > h3 {
    text-transform: capitalize;
}

header > span {
    font-size: 1.5rem !important;
    cursor: pointer;
}

main {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--light-black);
    border-radius: 17.5px;
}

/* #endregion */

/* #region Animations */

button:active {
    border-radius: 8px;
}

.menu__button:hover {
    background-color: var(--faded-background);
}

/* #endregion */